<div class="container">
  <div class="div-1">
    <p><span class="title">Hi, My name is Angee! It's nice of you to drop by!</span> <br> I'm a Junior Software Engineer. London based. <br>
    Finding my way through the tech industry. <br>
    Intrigued with many things, which includes building new things to contribute to the community. <br>
    I enjoy listening to music, travelling and eating good food. <br>
    <BR>
    Main skills: <br>
    RUBY | RUBY ON RAILS | JAVASCRIPT |  <br> HTML | CSS | FIGMA | HEROKU | BOOTSTRAP </p>
    <%= image_tag "Angee.jpeg", :class => "profile-pic"%>
  </div>
  <br>
  <hr>
  <%= render "shared/project" %>
  <%= render "shared/playlist" %>
</div>
<%# maybe put a spotify playlist here **  %>
