<div class="container">
  <div class="div-1">
    <div class="title">
      <h1 >Hey! Its Angee</h1>
    </div>
    <p>It's nice of you to drop by! <br> I'm a Full-Stack Engineer. Finding my way through the tech industry. <br>
    Intrigued with many things, which includes building new things to contribute to the community. <br>
    I enjoy listening to music, travelling and eating good food.  </p>
  <%# </div> %>
  <%# <div class="div-1"> %>
    <%= image_tag "Angee.jpeg", :class => "profile-pic"%>
  </div>
</div>
<%# maybe put a spotify playlist here **  %>
