<div class="container">
  <div class="div-1">
    <p><span class="title">Hi, My name is Angee! It's nice of you to drop by!</span> <br> I'm a Full-Stack Engineer. Finding my way through the tech industry. <br>
    Intrigued with many things, which includes building new things to contribute to the community. <br>
    I enjoy listening to music, travelling and eating good food.</p>
    <%= image_tag "Angee.jpeg", :class => "profile-pic"%>
  </div>

  <br>
  <hr>

</div>
<%# maybe put a spotify playlist here **  %>
