<div class="hobby">
  <div class="container-2">
    <div class="title right">
    <p class="p-1">What I love ♡</p>
    </div>
    <div class="omg">
      <div class="to-do">
        <%= image_tag "music.png", :class => "pic-icon"%>
        <h4>Music</h4>
      </div>
      <div class="to-do">
        <%= image_tag "open-book.png", :class => "pic-icon"%>
        <h4>Reading</h4>
      </div>
      <div class="to-do">
        <%= image_tag "planet.png", :class => "pic-icon"%>
        <h4>Travelling</h4>
      </div>
      <div class="to-do">
        <%= image_tag "running.png", :class => "pic-icon"%>
        <h4>Running</h4>
      </div>
    </div>
  </div>
</div>
