<ul class="navbar">
  <li class="nav-li"><a href="https://www.linkedin.com/in/angelee-otic/" target="_blank">LinkedIn</a></li>
  <li class="nav-li"><a href="public/docs/AOCV.pdf" download="Angelee Otic - CV">CV</a></li>
  <li class="nav-li"><a href="#Projects" data-controller="scroll-to">Projects</a></li>
  <li class="nav-li"><a href="about.asp">Contact</a></li>
</ul>
