<div class="container-2">

  <ul>
    <li> <i class="fa-brands fa-spotify fa-2xl" style="color: wheat;"></i></li>
    <br>
    <li> <i class="fa-sharp fa-solid fa-tree fa-2xl" style="color: wheat;"></i></li>
    <li></li>
    <li></li>
  </ul>
</div>
