<h1 class="project" id="Projects">PROJECTS</h1>

<div id="prj-container">
  <p class="grid-item-1"><span class="title-1">GimmeGolf</span> <br>is a golf app with social features, developed as a final project at Le Wagon. <br>
  The app allows users to book courses - fostering connections among individuals with a shared interest in golf. <br>
  This project presented an opportunity to improve communication and teamwork skills. <br>
  <%# <ul class="grid-item">
    <li>Ruby 46.8%</li>
    <li>SCSS 16.8%</li>
    <li>HTML 33.0%</li>
    <li>Javascript 3.3%</li>
    <li>Heroku - to deploy</li>
    <li>Cloudinary - photos</li>
  </ul> %> <br>
  <a href="https://www.gimmegolf.fun" class="grid-item">
    <img style="max-width:300px;" src="https://cdn.loom.com/sessions/thumbnails/1e14d20032c9467fb2270918b43097af-with-play.gif">
  </a>
</div>
<br>

<br><br>
<hr>
