.container-2 {
  width: fit-content;
  padding: 0 auto;
  margin: 0 auto;
}


.title .p-1 {
  text-align: center;
  color: #293330;
  font-size: 30px;
}


.omg {
  display: flex;
  flex-wrap: inherit;
  // opacity: 0.6;
}

.omg>:first-of-type {
  margin-left: 0;
}

.omg .to-do {
  background-color:#FFFDEF;
  padding: 6px 20px;
  margin: 0 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
}

.to-do>* {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(25% - 30px);
}

.pic-icon {
  width: 150px;
}

h4 {
  margin: 0;
  font-family: 'Cormorant Infant', serif;
  font-weight: bold;
  font-size: 19px;
  color: #DE8442;
}
