#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.profile-pic {
  background: white;                         /* White background */
  padding: 11px;                             /* Internal space */
  border-radius: 900px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
}

.container {
  // display: flex;
  // justify-content: space-around;
  margin: 100px;
  padding: 10px;
  // display: contents;
}

.div-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
}

.title-1 {
  // display: flex;
  // justify-content: flex-start;
  font-family: 'Cormorant Infant', serif;
  color: #293330;
  font-weight: bold;
  font-size: 35px;
}

p {
  font-family: 'Cormorant Infant', serif;
  color: #DE8442;
  font-size: 18px;
  font-weight: bold;
}

hr {
  width: 50%;
  // border-top: 3px double #8c8b8b;
}


html body {
  height: 100%;
  margin: 0;
}
