ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  // overflow: hidden;
  position: fixed;
  top: 0;
  width: 100px;
}

ul {
font-family: 'Cormorant Infant', serif;
// font-family: 'Unna', serif;

}

li {
  display: block;
  // float: left;
}

li a {
  display: block;
  color: black;
  text-align: left;
  padding: 8px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  font-weight: bold;
}
