.navbar {
  // list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  // overflow: hidden;
  position: fixed;
  top: 0;
  width: 100px;
}

.nav-li {
  display: inline;
}

.navbar {
font-family: 'Cormorant Infant', serif;
// font-family: 'Unna', serif;
font-size: 21px;

}

.navbar a {
  display: block;
  color: black;
  text-align: left;
  padding: 8px 10px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: wheat;
  font-weight: bold;
}
